:root{
    --background: #FFFFFF;
    --red: #FFDEDE;
    --green: #28BB25;
    --grey: #DCDCDC;
    --border-grey: #d7d7d7;
    --black: #000000;
    --body: #F3F3F3;
    --button-background: #E7E7E7;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background: var(--background);
    -webkit-font-smooth: antialiased;
}

body, input, textarea, button {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

a{
    text-decoration: none;
    color: currentColor;
}

button {
    cursor: pointer;
    outline: none;
    border: none;
}

[disabled]{
    opacity: 0.6;
    cursor: not-allowed;
}
